h4{
    background-color: yellow;
}
p{
    background-color: #ff7300;
}
h3{
    background: pink;
    opacity: 0.3;
}
div{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 128, 0, 0.3);
}
div{
    width: 100%;
    height: 900px;
    background-image: url('https://images.unsplash.com/flagged/photo-1570084787226-c77bdc6a1705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}
#repeat-x{
    width: 100%;
    height: 300px;
    background-image: url('https://images.unsplash.com/photo-1581650107963-3e8c1f48241b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80');
    background-repeat: repeat-x;
}
#repeat-y{
    width: 100%;
    height: 500px;
    background-image: url('https://images.unsplash.com/photo-1547744152-14d985cb937f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80');
    background-repeat: repeat-y;
}
#no-repeat{
    width: 100%;
    height: 500px;
    background-image: url('https://images.unsplash.com/photo-1603553329474-99f95f35394f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=80');
    background-repeat: no-repeat;
}
#no-repeat{
    width: 100%;
    height: 500px;
    background-image: url('https://images.unsplash.com/photo-1567284575269-d4be568f1072?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80');
    background-repeat: no-repeat;
    background-position: right top;
}
#no-repeat{
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1591920689160-ee83654e464a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
}