p{
    display: block;
    background-color: orange;
}
p{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background-color: orange;
  }
  p{
    display: inline-block;
    margin-top: 10px;
    height: 30px;
    background-color: orange;
  }